
.downleft {
    background-color: #8ab4f8;
    border-radius: 24px;
    border: none;
}
.downleft:hover {
    background-color: #9fc1f8;
    cursor: pointer;
}

.upright {
    background-color: rgb(138, 180, 248);
    border-radius: 4px;
    border: none;
}
@media (max-width: 660px) {
    .downleft {
        margin: 0;
        font-size: small;
        width: 100px;
        height: 40px;
    }
    .upright {
        margin: 0;
        font-size: small;
        width: 100px;
        height: 30px;
    }
    
}
@media (min-width: 660px) {
    .downleft {
        width: 120px;
        height: 50px;
    }
    .upright {
        width: 120px;
        height: 40px;
    }
    
}
.upright:hover {
    background-color: rgb(155, 192, 252);
    cursor: pointer;
}